In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
from sklearn.preprocessing import Normalizer
import statsmodels.api as sm
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from scipy import stats
from scipy.stats import boxcox
from imblearn.over_sampling import SMOTE
from sklearn.preprocessing import StandardScaler

In [2]:
citie_to_predict = pd.DataFrame(columns=['City', 'Rank', 'Sunshine hours(City)',
       'Cost of a bottle of water(City)', 'Obesity levels(Country)',
       'Life expectancy(years) (Country)', 'Pollution(Index score) (City)',
       'Annual avg. hours worked',
       'Outdoor activities(City)', 'Number of take out places(City)',
       'Cost of a monthly gym membership(City)', 'Avg Age (city)',
       'Population Size', 'PIB Per Capita', 'Life cost £(1 person) (city)',
       'Avg AnnualPrecipitation (mm)', 'Avg Temperature',
       'Infant mortality rate (IMR)', 'Avg beer price (£)'])

In [3]:
citie_to_predict

Empty DataFrame
Columns: [City, Rank, Sunshine hours(City), Cost of a bottle of water(City), Obesity levels(Country), Life expectancy(years) (Country), Pollution(Index score) (City), Annual avg. hours worked, Outdoor activities(City), Number of take out places(City), Cost of a monthly gym membership(City), Avg Age (city), Population Size, PIB Per Capita, Life cost £(1 person) (city), Avg AnnualPrecipitation (mm), Avg Temperature, Infant mortality rate (IMR), Avg beer price (£)]
Index: []

In [4]:
porto_row = {'City': 'Porto', 'Rank': 1, 'Sunshine hours(City)': 2524, 'Cost of a bottle of water(City)': 0.99,
       'Obesity levels(Country)': 24.5, 'Life expectancy(years) (Country)': 82.7,
       'Pollution(Index score) (City)': 22.1, 'Annual avg. hours worked': 1768,
       'Outdoor activities(City)': 101,
       'Number of take out places(City)': 586,
       'Cost of a monthly gym membership(City)': 49.69, 'Avg Age (city)': 42.7,
       'Population Size': 214000 , 'PIB Per Capita': 24500, 'Life cost £(1 person) (city)': 1255,
       'Avg AnnualPrecipitation (mm)': 1260, 'Avg Temperature': 15.5,
       'Infant mortality rate (IMR)': 2.9, 'Avg beer price (£)': 2.00}

In [5]:
citie_to_predict = citie_to_predict.append(porto_row, ignore_index=True)

/var/folders/13/xty849950wj5f71_v7v6vysc0000gn/T/ipykernel_98751/1830047123.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  citie_to_predict = citie_to_predict.append(porto_row, ignore_index=True)

In [6]:
citie_to_predict

,City,Rank,Sunshine hours(City),Cost of a bottle of water(City),Obesity levels(Country),Life expectancy(years) (Country),Pollution(Index score) (City),Annual avg. hours worked,Outdoor activities(City),Number of take out places(City),Cost of a monthly gym membership(City),Avg Age (city),Population Size,PIB Per Capita,Life cost £(1 person) (city),Avg AnnualPrecipitation (mm),Avg Temperature,Infant mortality rate (IMR),Avg beer price (£)
0,Porto,1,2524,0.99,24.5,82.7,22.1,1768,101,586,49.69,42.7,214000,24500,1255,1260,15.5,2.9,2.0

In [7]:
Bragança_row = {'City': 'Bragança', 'Rank': 2, 'Sunshine hours(City)': 2354, 'Cost of a bottle of water(City)': 0.60,
       'Obesity levels(Country)': 24.5, 'Life expectancy(years) (Country)': 82.7,
       'Pollution(Index score) (City)': 9.3, 'Annual avg. hours worked': 1768,
       'Outdoor activities(City)': '-',
       'Number of take out places(City)': 45,
       'Cost of a monthly gym membership(City)': 28.50, 'Avg Age (city)': 44.0,
       'Population Size': 34000 , 'PIB Per Capita': 18490, 'Life cost £(1 person) (city)': 732,
       'Avg AnnualPrecipitation (mm)': 1218, 'Avg Temperature': 13.3,
       'Infant mortality rate (IMR)': 2.9, 'Avg beer price (£)': 1.00}

In [8]:
citie_to_predict = citie_to_predict.append(Bragança_row, ignore_index=True)

/var/folders/13/xty849950wj5f71_v7v6vysc0000gn/T/ipykernel_98751/2176783024.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  citie_to_predict = citie_to_predict.append(Bragança_row, ignore_index=True)

In [9]:
citie_to_predict = citie_to_predict.rename(columns={'Cost of a bottle of water(City)': 'Cost of a bottle of water(City)(£)'})
citie_to_predict = citie_to_predict.rename(columns={'Cost of a monthly gym membership(City)': 'Cost of a monthly gym membership(City)(£)'})
citie_to_predict = citie_to_predict.rename(columns={'Pollution(Index score) (City)': 'Pollution(Index score %) (City)'})

In [10]:
citie_to_predict

,City,Rank,Sunshine hours(City),Cost of a bottle of water(City)(£),Obesity levels(Country),Life expectancy(years) (Country),Pollution(Index score %) (City),Annual avg. hours worked,Outdoor activities(City),Number of take out places(City),Cost of a monthly gym membership(City)(£),Avg Age (city),Population Size,PIB Per Capita,Life cost £(1 person) (city),Avg AnnualPrecipitation (mm),Avg Temperature,Infant mortality rate (IMR),Avg beer price (£)
0,Porto,1,2524,0.99,24.5,82.7,22.1,1768,101,586,49.69,42.7,214000,24500,1255,1260,15.5,2.9,2.0
1,Bragança,2,2354,0.60,24.5,82.7,9.3,1768,-,45,28.50,44.0,34000,18490,732,1218,13.3,2.9,1.0

In [11]:
citie_to_predict.dtypes

City                                          object
Rank                                          object
Sunshine hours(City)                          object
Cost of a bottle of water(City)(£)           float64
Obesity levels(Country)                      float64
Life expectancy(years) (Country)             float64
Pollution(Index score %) (City)              float64
Annual avg. hours worked                      object
Outdoor activities(City)                      object
Number of take out places(City)               object
Cost of a monthly gym membership(City)(£)    float64
Avg Age (city)                               float64
Population Size                               object
PIB Per Capita                                object
Life cost £(1 person) (city)                  object
Avg AnnualPrecipitation (mm)                  object
Avg Temperature                              float64
Infant mortality rate (IMR)                  float64
Avg beer price (£)                           float64
dtype: object

In [12]:
citie_to_predict['Sunshine hours(City)'] = pd.to_numeric(citie_to_predict['Sunshine hours(City)'], errors='coerce')
citie_to_predict['Annual avg. hours worked'] = pd.to_numeric(citie_to_predict['Annual avg. hours worked'], errors='coerce')
citie_to_predict['Population Size'] = pd.to_numeric(citie_to_predict['Population Size'], errors='coerce')
citie_to_predict['Number of take out places(City)'] = pd.to_numeric(citie_to_predict['Number of take out places(City)'], errors='coerce')
citie_to_predict['Outdoor activities(City)'] = pd.to_numeric(citie_to_predict['Outdoor activities(City)'], errors='coerce')

In [13]:
citie_to_predict.dtypes

City                                          object
Rank                                          object
Sunshine hours(City)                           int64
Cost of a bottle of water(City)(£)           float64
Obesity levels(Country)                      float64
Life expectancy(years) (Country)             float64
Pollution(Index score %) (City)              float64
Annual avg. hours worked                       int64
Outdoor activities(City)                     float64
Number of take out places(City)                int64
Cost of a monthly gym membership(City)(£)    float64
Avg Age (city)                               float64
Population Size                                int64
PIB Per Capita                                object
Life cost £(1 person) (city)                  object
Avg AnnualPrecipitation (mm)                  object
Avg Temperature                              float64
Infant mortality rate (IMR)                  float64
Avg beer price (£)                           float64
dtype: object

In [14]:
citie_to_predict.isna().sum()

City                                         0
Rank                                         0
Sunshine hours(City)                         0
Cost of a bottle of water(City)(£)           0
Obesity levels(Country)                      0
Life expectancy(years) (Country)             0
Pollution(Index score %) (City)              0
Annual avg. hours worked                     0
Outdoor activities(City)                     1
Number of take out places(City)              0
Cost of a monthly gym membership(City)(£)    0
Avg Age (city)                               0
Population Size                              0
PIB Per Capita                               0
Life cost £(1 person) (city)                 0
Avg AnnualPrecipitation (mm)                 0
Avg Temperature                              0
Infant mortality rate (IMR)                  0
Avg beer price (£)                           0
dtype: int64

In [15]:
avg_outdoor = citie_to_predict['Outdoor activities(City)'].mean()
citie_to_predict['Outdoor activities(City)'].fillna(avg_outdoor, inplace=True)

In [16]:
citie_to_predict

,City,Rank,Sunshine hours(City),Cost of a bottle of water(City)(£),Obesity levels(Country),Life expectancy(years) (Country),Pollution(Index score %) (City),Annual avg. hours worked,Outdoor activities(City),Number of take out places(City),Cost of a monthly gym membership(City)(£),Avg Age (city),Population Size,PIB Per Capita,Life cost £(1 person) (city),Avg AnnualPrecipitation (mm),Avg Temperature,Infant mortality rate (IMR),Avg beer price (£)
0,Porto,1,2524,0.99,24.5,82.7,22.1,1768,101.0,586,49.69,42.7,214000,24500,1255,1260,15.5,2.9,2.0
1,Bragança,2,2354,0.60,24.5,82.7,9.3,1768,101.0,45,28.50,44.0,34000,18490,732,1218,13.3,2.9,1.0

In [17]:
citie_to_predict.to_csv('cities_to_predict.csv')